<a href="https://colab.research.google.com/github/coderanandmaurya/Python-For-Machine-Learning/blob/main/basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Print

In [ ]:
print(1)
print(1.24)
print("hello_world")
print("coder"+"anand"+"maurya")
print("coder","anand","maurya")
print("coder","anand","maurya",sep="/")
print("coder","anand","maurya",sep="-")
print("Hello", end=" ")
print("world")

1
1.24
hello_world
coderanandmaurya
coder anand maurya
coder/anand/maurya
coder-anand-maurya
Hello world

# Data-Types
- basic type- int,float,comlex,boolean and string
- container type - list, tuple, set, dictionary
- user-defined type - Class

basic Type

In [ ]:
#integer
print(4)
print(1e309)

#float
print(1.4)
print(1.7e309)

#comlex
print(1+2j)

#boolean
print(True)
print(False)

#string
print("anand")
print('anand')
print("""anand""")

4
inf
1.4
inf
(1+2j)
True
False
anand
anand
anand

Container Type

In [ ]:
#list
print([1,2,3,4])

#sets
print({1,2,3,4,6,4})

#dictionary
print({"name":"anand", "marks": 45})

[1, 2, 3, 4]
{1, 2, 3, 4, 6}
{'name': 'anand', 'marks': 45}

# comments

In [ ]:
#This is comments

# variable
- Dynamic Typing: no variable datatype declaration
- no variable declaration
- Dynamic Binding: you can't change variable data type

In [ ]:
a=5
b=4
name="anand"
print(name)
name=4
print(name)
print(a+b)

a=1;b=4;c=3
print(a,b,c)

a,b,c=1,2,3
print(a,b,c)

a=b=c=3
print(a,b,c)

anand
4
9
1 4 3
1 2 3
3 3 3

# Identifiers and Keywords
Python is case sentive language
- Keywords: reserved word for program
- identifier: use to identify variable, function, class, module or other object
- Rules for setting identifier
  - can only start with an alphabet or _
  - followed by 0 or more letter,_and digits
  - keywords cannot be used as an identifier

In [ ]:
import keyword
k=keyword.kwlist
print(k)
len(k)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

In [ ]:
_name = "anand"

# Input and Type-conversion

In [ ]:
a=input("write something ")

write somethinghello brother
hello brother

In [ ]:
#imlicit type-conversion
print(4+5.5)
print(3+3+5j)
a=1
print(type(a))
a=float(a)
print(type(a))
a=str(a)
print(type(a))

9.5
(6+5j)
<class 'int'>
<class 'float'>
<class 'str'>

# Literal : Literal is a raw data given in a variable.
- Numeric Literal
- String Literal
- Boolean Literal
- Special Literal

In [ ]:
#Numerical Literal
a=0b1010 #binary Literal
b=100 #Decimal Literal
c= 0o310 #Octal Literal
d= 0x12c

#Float Literal
x=1.2
y=1.2e2 #e2 10x10
z=1.2e-3

#Complex Literal
l=3.14j

print(a,b,c,d)
print(x,y,z)
print(l)

#String Literals
S="Go Green"
raw_str=r"raw \n string"
f=u"\U0001F40D"
print(S)
print(raw_str)
print(f)

#Boolean Literals
m= True + 4
n= False + 4
print(m)
print(n)

#Special Literal
o=None
print(o)

10 100 200 300
1.2 120.0 0.0012
3.14j
Go Green
raw \n string
ðŸ
5
4
None

# Operators : perform mathematica ang logical task 
- Arithmatic Operators
- Comparison Operators
- logical Operators
- Bitwise Operators
- Assignment Operators
- Identity Operators
- Membership Operators

In [ ]:
#Arithmatic Operators
x,y=1,2
print(x+y,x-y,x*y,x/y,x%y,x**y,x//y)

3 -1 2 0.5 1 1 0

In [ ]:
#Comparison Operators
print(x>y,x<y)
print(x==y)
print(x<=y)
print(x>=y)
print(x!=y)

False True
False
True
False
True

In [ ]:
#Logical Operator
x=True
y=False

print(x or y, x and y, not x )

True False False

In [ ]:
#Bitwise Operator
x,y=2,3

print(x & y)
print(x | y)
print(x >> 2)
print(x << 2)
print(-x)

2
3
0
8
-2

In [ ]:
#Assingment Operator
a = 3 #equal to
print(a)
a+=3
print(a)
a-=3
print(a)
a&=3
print(a)

3
6
3
3

In [ ]:
#Identity Opertaor :two variable have same memory location
a,b=2,2
print(a is b)

a=[1,2]
b=[1,2]
print(a is b)

a="Hello World"
b="Hello World"
print(a is b)
print(a is not b)

True
False
False
True

In [ ]:
#Memebership Operator
a="Hello World"
print("H" not in a)

b=(1,2,3)
print(1 in b)

False
True

#Condition :if else

In [ ]:
#Username: ANAND PWD:123
Username=input("Username: ")
if  "#" in Username:
  PWD=input("Password")
  if Username == "#ANAND" and PWD == "123":
    print("Welcome")
  elif Username == "#ANAND"  and PWD !="123":
    print("Wrong Password")
    PWD = input("Password: ")
    if PWD =="123":
      print("you are Great")
    else:
      print("Try Again")
  else:
    print("Incorrect Credentials")
else:
  print("Username must Have #")

Username: a
Username must Have #

#Indentation

In [ ]:
# not this if(Name=="anand")
#{something}
# this if name=="anand":
#tab Something

# range function

In [ ]:
print(list(range(3)))
print(list(range(1,3)))
print(list(range(1,10,2)))
print(list(range(10,1,-2)))

[0, 1, 2]
[1, 2]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

# Loop: while, for
- while condition:
    - code
- for loop
  - for(i=o;i<10;i++) <br>
      {code}

In [ ]:
#While loop
num=int(input("number: "))
i=1

while i<5:
  print(num * i)
  i+=1

number: 2
2
4
6
8

In [ ]:
#for loop work on range or sequece
#sequence
fruit_list=["apple","banana","pineapple"] 
fruit_tuple=("apple","banana","pineapple")
fruit_set={"apple","banana","pineapple"}
fruit_dict={"fruit":"apple","car":"maruti"}

for i in range(1,3):
  print(i)
print("\n")

for i in "INDIA":
  print(i)
print("\n")

for i in (1,2,3):
  print(i)

print("\n")
for i in [1,2,3,4]:
  print(i)

1
2


I
N
D
I
A


1
2
3


1
2
3
4

In [ ]:
#Nested Loop
rows=int(input("enter the no. of rows: "))
#cols=int(input("enter the no. of cols"))

for i in range(1,rows + 1):
  for j in range(0,i):
    print("*",end=" ")
  print("")

enter the no. of rows: 5
*
* *
* * *
* * * *
* * * * *

Break, Continue, Pass

In [ ]:
#Break
for i in range(1,4):
  if i==2:
    break
  print(i) 

print("\n")

#Continue
for i in range(1,4):
  if i==2:
    continue
  print(i) 

#Pass
for i in range(1,3):
  pass

1


1
3

#Built in Function: print

In [ ]:
# Input: in str you have to change DType
a=input("enter any number : ")

# Print
print("value of a is : ",a)

# Type
type(a)

#Type conversion
a=int(a)
a=str(a)


# abs
print("abs value of : ",abs(-3))

# pow
print(pow(2,3))

# min/max/len/sum
mylist=[1,2,3,4,5,6,7]
min(mylist)
max(mylist)
len(mylist)
sum(mylist)

# Round
c=22/7
round(c)

# Divmod
divmod(5,2)

# bin/oct/hex
print(bin(2))
print(oct(9))
print(hex(15))

#id
a=3
id(a)

# ord : ascii code search
ord("a")

# help : document of function
help("print")

enter any number : 4
value of a is :  4
abs value of :  3
8
0b10
0o11
0xf
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Module
 A file containing set of function

In [ ]:
import math
import random
import time
import os

In [ ]:
print(math.pi)  
print(math.e)
  
print(random.randint(1,3))
a=[1,2,3]
random.shuffle(a)
print(a)

print(time.time())
print(time.ctime())
print("hello ")
time.sleep(1)
print("world")

print(os.getcwd())
print(os.listdir())

3.141592653589793
2.718281828459045
3
[1, 2, 3]
1643865880.156765
Thu Feb  3 05:24:40 2022
hello
world
/content
['.config', 'sample_data']

# String : sequence of unicode character

In [ ]:
# Creating 
name="Anand Maurya"
today="it's raining today"
print(name , "said that", today)

# Indexing :+ve,-ve
print(name[1])
print(name[-1])

# Slicing
print(name[3:])
print(name[:3])
print(name[0:5])
print(today[0:15:2])

# Update:string are immutable

#Arithmatic Operator in str
a="hello " + "world"
print(a)

print("*"*5)

Anand Maurya said that it's raining today
n
a
nd Maurya
Ana
Anand
i' ann o
helloworld

In [ ]:
print("hello" == "world")
print("hello" != "world")

#first come first serve
print("hello" <= "world")

#empty string : false, string :true
print("hello" and "world")
print("" and "hello")
print("world" or "hello")

#loop
c="Mr"
for i in c:
  print(i)

#Membership 
print("M" in c)

False
True
True
world

world
M
r
True