<a href="https://colab.research.google.com/github/coderanandmaurya/Python-For-Machine-Learning/blob/main/Data_Type%2C_Type_conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Type**
Variables can store data of different types, and different types can do different things.
- **Basic Data type** :
  - Python Numbers: int, float, comlex
  - Boolean and string
- **Container type** - list, tuple, set, dictionary
- **User-defined type** - Class

## **Basic Data Type**

In [2]:
#integer
print(type(4))
print(1e309) #1e309=1Ã—10^309

#float
print(type(1.4))
print(1.7e309)

#comlex
print(type(1+2j))

#boolean
print(False)
print(type(True))

<class 'int'>
inf
<class 'float'>
inf
<class 'complex'>
(1+2j)
False
<class 'bool'>
Monkey
Monkey
<class 'str'>

In [66]:
#string
print("Monkey")
print('Monkey')
print(type("""Monkey"""))

name="monkey"
print(name)

#Capitalize
name.capitalize()
print(name)
# All string methods returns new values. They do not change the original string.
name=name.capitalize()
print(name)

# islower check lowercase gie true/false
print(name.islower())

# lowercase
name=name.lower()
print(name)

# Uppercase
name=name.upper()
print(name)

#length
print(len(name))

# print one by one character
for x in name:
  print(x)

Monkey
Monkey
<class 'str'>
monkey
monkey
Monkey
False
monkey
MONKEY
6
M
O
N
K
E
Y

## **Container Type**: 
1. **List** 
  - Lists are created using square brackets [] 
  - List items are ordered, changeable, and allow duplicate values
  - List items are indexed, the first item has index [0], the second item has index [1] etc.

- **Ordered**: When we say that lists are ordered, it means that the items have a defined order, and that order will not change.If you add new items to a list, the new items will be placed at the end of the list.

- **Changeable**: The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

- **Allow Duplicates** : Since lists are indexed, lists can have items with the same value: fruits = ["apple", "banana", "cherry", "apple", "cherry"]

In [54]:
# Empty List
A=[]
print(type(A))

# A list can contain different data types:
fruits_name_kg = ["apple", 1, 1.3]
print(fruits_name_kg)
print(type(fruits_name_kg))

# Ordered
fruits = ["apple", "banana", "cherry"]
print(fruits)
print(type(fruits))

# Changable
fruits[1]=["mango"]
print(fruits)
print(type(fruits))

# Duplicates are Allowed
Fruit = ["apple", "banana", "cherry", "apple"]
print(Fruit)
print(type(Fruit))

# List method
# type conversion
id=(1,2,3)
print(id)
id=list(id)
print(id)

# Indexing
print(id)
print(id[2])

# Slicing
print(id)
print(id[0:2])
print(id[:-1])

#Append
id.append(3)
print(id)

#Insert (index)
id.insert(4,5)
print(id)

# Update
id[3]=4
print(id)

# extend
id2=[6,7]
id.extend(id2)
print(id)

# length
print(len(id))

# pop (index)
id.pop(6)
print(id)

# remove
id.remove(6)
print(id)

<class 'list'>
['apple', 1, 1.3]
<class 'list'>
['apple', 'banana', 'cherry']
<class 'list'>
['apple', ['mango'], 'cherry']
<class 'list'>
['apple', 'banana', 'cherry', 'apple']
<class 'list'>
(1, 2, 3)
[1, 2, 3]
[1, 2, 3]
3
[1, 2, 3]
[1, 2]
[1, 2]
[1, 2, 3, 3]
[1, 2, 3, 3, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
7
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]


2. Tuple :
  - Tuples are written with round brackets.
  - Tuple items are ordered, unchangeable, and allow duplicate values.
  - Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [17]:
# Empty table
B= ()
print(type(B))

data=(1,2,3)
print((type(data)))

# A tuple can contain different data types
MTuple=("hello",1,1.3,True,1+3j)
print(MTuple)
print(type(MTuple))

# Ordered
fruits = ("apple", "banana", "cherry")
print(fruits)
print(type(fruits))

# Duplicates are Allowed
Fruit = ("apple", "banana", "cherry", "apple")
print(Fruit)
print(type(Fruit))

<class 'tuple'>
<class 'tuple'>
('hello', 1, 1.3, True, (1+3j))
<class 'tuple'>
('apple', 'banana', 'cherry')
<class 'tuple'>
('apple', 'banana', 'cherry', 'apple')
<class 'tuple'>

3. Set
  - Sets are written with curly brackets.
  - Set items are unordered, unchangeable, and do not allow duplicate values.
  - Once a set is created, you cannot change its items, but you can remove items and add new items.
  - Sets are unordered, so you cannot be sure in which order the items will appear.

In [67]:
# Empty set
ES={}
print(type(ES))

# A Set can contain different data types
number={1, 2, 1,"hello"}
print(number)
print(type(number))

# Sets are unordered
Fruit = {"apple", "banana", "cherry"}
print(Fruit)
print(type(Fruit))

# Duplicates Not Allowed
Fruit = {"apple", "banana", "cherry", "apple"}
print(Fruit)
print(type(Fruit))

# add
Fruit.add("mango")
print(Fruit)

<class 'dict'>
{1, 2, 'hello'}
<class 'set'>
{'cherry', 'apple', 'banana'}
<class 'set'>
{'cherry', 'apple', 'banana'}
<class 'set'>
{'cherry', 'mango', 'apple', 'banana'}

4. Dictionary
  - Dictionaries are written with curly brackets, and have keys and values
  - As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.
  - Dictionary items are ordered, changeable, and does not allow duplicates

In [28]:
# Empty Dictionary
ED={}
print(type(ED))


# A Dictionary can contain different data types
Zoo={
    "Name": "luffy",
    "species" : "Monkey",
    "Tail": True,
    "id":1,
    "Eat":["banana","apple","grapes"]
}
print(Zoo)
print(type(Zoo))

# Duplicates Not Allowed (Duplicate values will overwrite existing values)
Zoo={
    "Name": "luffy",
    "Name": "garp",
    "species" : "Monkey",
    "Tail": True,
    "id":1,
    "Eat":["banana","apple","grapes"]
}
print(Zoo)
print(type(Zoo))

# Changeable
Zoo.update({"Name":"Dragon"})
print(Zoo)
Zoo.update(Name="pirate")
print(Zoo)

<class 'dict'>
{'Name': 'luffy', 'species': 'Monkey', 'Tail': True, 'id': 1, 'Eat': ['banana', 'apple', 'grapes']}
<class 'dict'>
{'Name': 'garp', 'species': 'Monkey', 'Tail': True, 'id': 1, 'Eat': ['banana', 'apple', 'grapes']}
<class 'dict'>
{'Name': 'Dragon', 'species': 'Monkey', 'Tail': True, 'id': 1, 'Eat': ['banana', 'apple', 'grapes']}
{'Name': 'pirate', 'species': 'Monkey', 'Tail': True, 'id': 1, 'Eat': ['banana', 'apple', 'grapes']}

# **Mutable vs Immutable**
mutable objects can change their state or contents and immutable objects canâ€™t change their state or content.

- Immutable Objects : These are of in-built types like int, float, bool, string, unicode, tuple
- Mutable Objects : These are of type list, dict, set . Custom classes are generally mutable.

In [ ]:
# tuples are immutable
tuple1 = (0, 1, 2, 3)
#tuple1[0] = 4
print(tuple1)

In [ ]:
# strings are immutable
message = "Welcome to GeeksforGeeks"
#message[0] = 'p'
print(message)

In [ ]:
# lists are mutable
color = ["red", "blue", "green"]
print(color)

color[0] = "pink"
color[-1] = "orange"
print(color)

<figure>
<center>
<img src='https://qphs.fs.quoracdn.net/main-qimg-4129c7c9ff375c15d8b45504ca4b0208-lq' width ="500"/>
<figcaption>Data Type</figcaption></center>
</figure>

# Class :
To create a class, use the keyword class:

In [29]:
# Create a class named MyClass, with a property named x:
class MyClass:
  x = 5

# Create an object named p1, and print the value of x:
p1 = MyClass()
print(p1.x)

5

## The __init__() Function
- The __init__() function is called automatically every time the class is being used to create a new object.

In [30]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

John
36
Hello my name is John