<a href="https://colab.research.google.com/github/coderanandmaurya/Python-For-Machine-Learning/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python List**
- Lists are used to store multiple items in a single variable.
- Lists are created using square brackets

## **List Items**
- List items are ordered, changeable, and allow duplicate values
- List items are indexed, the first item has index [0], the second item has index [1] etc

In [ ]:
# Ordered
number=[1,2,3,4,5]
print(number)

[1, 2, 3, 4, 5]

In [ ]:
# Changeable
# Adding and removing elements
myList = ['a', 'b', 'c', 'd', 'e', 'f']

# Add an element at the end
myList.append('g')
print(myList)

# Insert element at a specific index
# insert(index, value)
myList.insert(3, 'z') # Insertion at the 3rd index
print(myList)

# Delete an element from the end
myList.pop()
print(myList)

# Delete the value at a specific index
del myList[1]
print(myList)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'c', 'z', 'd', 'e', 'f', 'g']
['a', 'b', 'c', 'z', 'd', 'e', 'f']
['a', 'c', 'z', 'd', 'e', 'f']

In [ ]:
# Allow Duplicates
animal=["monkey","monkey"]

## **Creating List**

In [ ]:
# Python program to demonstrate

# Creating a List
List = []
print("Blank List: ")
print(List)

# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)

# Creating a List of strings and accessing
# using index
List = ["game", "For", "game"]
print("\nList Items: ")
print(List[0])
print(List[2])

# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['game', 'For'], ['game']]
print("\nMulti-Dimensional List: ")
print(List)

## **The list() Constructor**
- It is also possible to use the list() constructor when creating a new list

In [ ]:
tuple1=("i","love","MSdhoni")
print(type(tuple1))

tuple1=list(tuple1)
print(type(tuple1))

<class 'tuple'>
<class 'list'>

## **Size of List**

In [ ]:
# Creating a List
List1 = []
print(len(List1))
  
# Creating a List of numbers
List2 = [10, 20, 14]
print(len(List2))

0
3

## **Adding Elements**

In [ ]:
a=[]

# add element using append
a.append(0)
print(a)

# add multiple using iterative method
for i in range(1,4):
  a.append(i)
print(a)

# Using Insert Method
a.insert(2,9)
print(a)

[0]
[0, 1, 2, 3]
[0, 1, 9, 2, 3]

## **Using extend() method**

In [ ]:
b=[10,11,12]
a.extend(b)

print(a)

[0, 1, 9, 2, 3, 10, 11, 12]

## **Accessing elements from the List**

In [ ]:
print(a[2])

# Access from Multiple 
Multi=[[1,2,3],["hello","hi","bro"]]
print(Multi[1][2])

9
bro

## **Negative indexing**

In [ ]:
# print the last element of list
print(Multi[1][-1])

bro

## **Removing Elements from the List**

In [ ]:
fruits=["banana","apple","mango","banana","apple","mango"]
print(fruits)

# using remove method
fruits.remove("mango")
print(fruits)

# remove multiple element
fru=["banana","apple"]
for i in range(len(fru)):
  print(fru[i])
  fruits.remove(fru[i])

print(fruits)

# using pop method
fruits.pop(1)
print(fruits)

['banana', 'apple', 'mango', 'banana', 'apple', 'mango']
['banana', 'apple', 'banana', 'apple', 'mango']
banana
apple
['banana', 'apple', 'mango']
['banana', 'mango']

## **Slicing of a List**

In [ ]:
num=[1,2,3,4,5]

print("printing list from num index 1 to 2 : ",num[1:3])

print("printing all numbers : ",num[:])

print("printing number index from 2 : ",num[2:])

printing list from num index 1 to 2 :  [2, 3]
printing all numbers :  [1, 2, 3, 4, 5]
printing number index from 2 :  [3, 4, 5]

## **Negative index List slicing**

In [ ]:
print("printing number in reverse : ",num[::-1])

print("negative slicing : ",num[-6:-1])

printing number in reverse :  [5, 4, 3, 2, 1]
negative slicing :  [1, 2, 3, 4]

## **List Comprehension**

In [ ]:
# below list contains square of all odd numbers from range 1 to 10
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1]
print(odd_square)

[1, 9, 25, 49, 81]

In [ ]:
# for understanding, above generation is same as,
odd_square = []

for x in range(1, 11):
	if x % 2 == 1:
		odd_square.append(x**2)

print(odd_square)

[1, 9, 25, 49, 81]

## **Iterate over a list in Python**

In [ ]:
MIB=["hello_world","hello_earth"]
for x in MIB:
  print(x)

# Iterate word
WMIB=["GROW"]
for i in WMIB:
  for x in str(i):
    print(x)

hello_world
hello_earth
G
R
O
W

## **Concatenate two lists in Python**

In [ ]:
animal_list1=["Bengal Tigers", "IndianLions", "Deer"]
animal_list2=["Pythons",'Wolves', "Foxes", "Bears", "Crocodiles", "WildDogs", "Monkeys","Snakes"]

animals=animal_list1+animal_list2
print(animals)

['Bengal Tigers', 'IndianLions', 'Deer', 'Pythons', 'Wolves', 'Foxes', 'Bears', 'Crocodiles', 'WildDogs', 'Monkeys', 'Snakes']

## **Python Membership and Identity Operators.**

In [ ]:
# in operators
animal_list1=["Bengal Tigers", "IndianLions", "Deer"]

print("Dog" in animal_list1)

print("Deer" in animal_list1)

False
True

In [ ]:
# is operators
x = 5
if (type(x) is int):
    print("true")
else:
    print("false")

true

## **Built-in functions with List**

In [ ]:
numbers = [1,2,3,4,5,1,4,5]

# total sum
print("total sum",sum(numbers))

# max in numbers
print("maximum in number",max(numbers))

# min in numbers
print("minimum in number",min(numbers))

# total length 
print("length of numbers",len(numbers))

25
5
1
8

## **Map function**
- map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)
- syntax : map(function, iterables)

In [ ]:
numbers = [2, 4, 6, 8, 10]

# returns square of a number
def square(number):
  return number * number

# apply square() function to each item of the numbers list
squared_numbers_iterator = map(square, numbers)

# converting to list
squared_numbers = list(squared_numbers_iterator)
print(squared_numbers)

# Output: [4, 16, 36, 64, 100]

[4, 16, 36, 64, 100]