<a href="https://colab.research.google.com/github/coderanandmaurya/Python-For-Machine-Learning/blob/main/String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String**
## Strings in python are surrounded by either single quotation marks, or double quotation marks.'hello' and "hello"
- Immutable : immutable objects canâ€™t change their state or content.
- Allow Duplicate member

In [1]:
print("Hello")
print('Hello')

Hello
Hello

## **Assign String to a Variable**

In [2]:
a = "Hello"
print(a)

Hello

## **Multiline Strings**
- You can assign a multiline string to a variable by using three quotes

In [3]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## **Immutable**

In [4]:
# strings are immutable
message = "Welcome to GeeksforGeeks"
#message[0] = 'p'
print(message)

Welcome to GeeksforGeeks

## **Allow Duplicate member**

In [5]:
name="monkey monkey"

## **Empty string**

In [6]:
Estring=""
print(type(Estring))

<class 'str'>

## **Slicing**
- You can return a range of characters by using the slice syntax. Specify the start index and the end index, separated by a colon, to return a part of the string

In [7]:
b = "Hello, World!"
print(b[2:5])

# Slice From the Start
print(b[:5])

# Slice To the End
b = "Hello, World!"
print(b[2:])

# Negative Indexing
b = "Hello, World!"
print(b[-5:-2])

llo

## **Modify Strings**

In [12]:
# Upper Case
a = "Hello, World!"
print(a.upper())

# Lower Case
a = "Hello, World!"
print(a.lower())

# Remove Whitespace
# The strip() method removes any whitespace from the beginning or the end
a = " Hello,         World! "
print(a.strip()) # returns "Hello, World!"

s = " Student    "

s2 = s.rstrip() #it will remove spaces from right side  
print(s2)
s3 = s.lstrip() #it will remove spaces from left side  
print(s3)
s4 = s.strip() #it will remove all spaces
print(s4)

# Replace String
a = "Hello, World!"
print(a.replace("H", "J"))

# Split String
## The split() method returns a list where the text between the specified separator becomes the list items.
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

HELLO, WORLD!
hello, world!
Hello,         World!
 Student
Student
Student

## **String Concatenation**
- To concatenate, or combine, two strings you can use the + operator.

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

# To add a space between them, add a " "
a = "Hello"
b = "World"
c = a + " " + b
print(c)

## **String Format**
- we cannot combine strings and numbers like this (strongly type)

In [19]:
age = 36
#txt = "My name is John, I am " + age
print(txt)

Hello

In [20]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

# The format() method takes unlimited number of arguments, and are placed into the respective placeholders
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

# You can use index numbers {0} to be sure the arguments are placed in the correct placeholders
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

## Reverse a String
name="welcome"
print(name[::-1])

My name is John, and I am 36
I want 3 pieces of item 567 for 49.95 dollars.
I want to pay 49.95 dollars for 3 pieces of item 567.
emoclew

## **Escape Character**
- To insert characters that are illegal in a string, use an escape character.
- An escape character is a backslash \ followed by the character you want to insert.

In [15]:
# txt = "We are the so-called "Vikings" from the north."

In [16]:
txt = "We are the so-called \"Vikings\" from the north."

In [18]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt) 

#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello
Hello

## **String Methods**
- All string methods returns new values. They do not change the original string.

In [25]:
# Converts the first character to upper case using capitalize()
txt = "hello, Brother."
x = txt.capitalize()
print (x)

# Converts string into lower case (casefold())
x = txt.casefold()
print(x)

Hello, brother.
hello, brother.

## **find**

In [23]:
s = "nomans"  
print (s.endswith("rd"))
print(s.startswith("no")) 
print( s.find("f"))
print(s.rfind("o"))
print(s.count("o"))

False
True
-1
1
1